# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ThinkPad T430\Desktop\clean code\Udemy training\Design Patterns\Singleton_begin\designPatternStuff\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
